h2{text-align: center;}
h3{text-align: center;padding-top: 30px;}

.instrutions{
    margin: auto;
    width: 500px;
    height: 350px;
    padding-top: 30px;
    background-color: bisque;
    border-radius: 20px;
    
}

li{
    padding: 5px;
}